<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<section id="sidebar">
  <div id="avatar">
    <a href="/"><div class="border">
      <div class="img_container"><img src ="{{ site.avatar}}" /></div>
    </div></a>
  </div>

  <div class="title"><a href="/">{{ site.title }}</a></div>
  <ul class="site_nav">
    <li><a href="/" {% if page.active == "index" %}class="selected"{% endif %} class="nav_items"> Home </a></li>
    <li><a href="/archive" {% if page.active == "archive" %}class="selected"{% endif %} class="nav_items"> Archive </a></li>
    <li><a href="https://github.com/qchaha" {% if page.active == "Github" %}class="selected"{% endif %} class="nav_items"> Github </a></li>
    <li><a href="/about" {% if page.active == "about" %}class="selected"{% endif %} class="nav_items">About</a></li>
    <!--<li><a href="/feed.xml" class="nav_items"> feed </a></li>-->
    <li> </li>
    <li> </li>
    <li>
      <span id="busuanzi_container_site_pv" style="color:#aaa">
        <i class="fa fa-paw"></i> 总访问量: <span id="busuanzi_value_site_pv"></span>
      </span>
    </li>
    <li>
      <span id="busuanzi_container_site_uv" style="color:#aaa">
          <i class="fa fa-user"></i> 总访问人数: <span id="busuanzi_value_site_uv"></span>
      </span>
    </li>
  </ul>

</section>
